nav {
    background-color: #5bbc2e;
}
.product-card-image img{
    width: 100%;
    height: 180px;
    object-fit: fill;
}

footer {
    background-color: #141414;
    color: #e0e0e0;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 10px 0;
    text-align: center;
}
