{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block content_title %}Products{% endblock %}
{% block content %}
{% for product in products %}
<div class="card mb-5" style="max-width: 540px;">
    <div class="row g-0">
        <div class="col-md-4 product-card-image">
            <a href="{% url 'product_view' product.pk %}"><img src="{{ product.image }}" class="img-fluid rounded-start"
                                                               alt="{{ product.name }}"></a>
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">{{ product.name }}</h5>
                <p class="card-text"><b>Category:</b> {{ product.category }}</p>
                <p class="card-text"><b>Price:</b> {{ product.price }} KZT</p>
                <a href="{% url 'product_view' product.pk %}">see more >>></a>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}
