{% extends 'base.html' %}
{% block title %}Product Edit{% endblock %}
{% block menu %}{% endblock %}
{% block content_title %}Edit product{% endblock %}
{% block content %}
<div class="container-fluid">
    <form action="{% url 'product_edit_view' product.pk %}" method="post">
        {% csrf_token %}
        <div class="mb-3">
            <input type="text" name="name" class="form-control" id="exampleFormControlInput1" placeholder="Name"
                   value="{{ product.name }}" required>
        </div>
        <div class="mb-3">
            <input type="number" name="price" class="form-control" id="exampleFormControlInput1" placeholder="Price"
                   value="{{ product.price }}" required>
        </div>
        <div class="mb-3">
            <input type="text" name="image" class="form-control" id="exampleFormControlInput1" placeholder="Image"
                   value="{{ product.image }}" accept="image/*">
        </div>
        <select class="form-select mb-3" name="category" aria-label="Default select example" required>
            {% for category in categories %}
            <option value="{{ category }}">{{ category }}</option>
            {% endfor %}
        </select>
        <div class="mb-3">
            <textarea name="description" class="form-control" id="autoresizing" placeholder="Description">{{ product.description }}</textarea>
        </div>
        <div class="page_action">
            <input type="submit" class="btn btn-primary" value="Edit product"/>
            <a class="btn btn-danger" href="{% url 'product_view' product.pk %}">Cancel</a>
        </div>
    </form>
</div>
{% endblock %}
