{% extends 'base.html' %}
{% block title %}Category Add{% endblock %}
{% block menu %}{% endblock %}
{% block content_title %}Add product{% endblock %}
{% block content %}
<div class="container-fluid">
    <form action="{% url 'product_add_view' %}" method="post">
        {% csrf_token %}
        <div class="mb-3">
            <input type="text" name="name" class="form-control" id="exampleFormControlInput1" placeholder="Name"
                   required>
        </div>
        <div class="mb-3">
            <input type="number" name="price" class="form-control" id="exampleFormControlInput1" placeholder="Price"
                   required>
        </div>
        <div class="mb-3">
            <input type="text" name="image" class="form-control" id="exampleFormControlInput1" placeholder="Image"
                   value="/static/media/uploads/" required>
        </div>
        {% if categories %}
        <select class="form-select mb-3" name="category" aria-label="Default select example" required>
            {% for category in categories %}
            <option value="{{ category }}">{{ category }}</option>
            {% endfor %}
        </select>
        {% else %}
        <div class="mb-3">
            <input type="text" class="form-control" id="exampleFormControlInput1"
                   value="There are no categories. Add a category!" readonly>
        </div>
        {% endif %}
        <div class="mb-3">
            <textarea name="description" class="form-control" id="autoresizing" placeholder="Description"></textarea>
        </div>
        <div class="page_action">
            <input type="submit" class="btn btn-primary btn-add-category" value="Add product"/>
            <a class="btn btn-danger btn-add-category" href="{% url 'home' %}">Cancel</a>
        </div>
    </form>
</div>
{% endblock %}
